
<ion-header>

  <ion-navbar hideBackButton = "true">
    <ion-title>Submitted Forms</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <button ion-button color = "secondary" (click)="getHome()">Back to Home</button>

  <ion-item *ngIf = "patientData">
    <h1>Current Form Submitted</h1>
    <br>
    <p>First Name: {{patientData.first}}</p>
    <p>Last Name: {{patientData.last}}</p>
    <p>Age: {{patientData.date}}</p>
    <p>Email: {{patientData.email}}</p>
    <p>Phone Number: {{patientData.phone}}</p>
    <p>Appointment for: {{patientData.registration}}</p>
    <p>Symptoms: {{patientData.symptoms}}</p>
  </ion-item>
  <br>

  <h1>Previous Forms Submitted</h1>

  <ion-item *ngFor = "let patient of reversePatient">
    <p>First Name: {{patient.first}}</p>
    <p>Last Name: {{patient.last}}</p>
    <p>Age: {{patient.date}}</p>
    <p>Email: {{patient.email}}</p>
    <p>Phone Number: {{patient.phone}}</p>
    <p>Appointment for: {{patient.registration}}</p>
    <p *ngIf="patient.symptomsArr.length">Symptoms:
      <span *ngFor = "let symptom of patient.symptomsArr">{{symptom}}, </span>
    </p>
    <p *ngIf="!patient.symptomsArr.length">Symptoms:
        <span>No symptom found</span>
      </p>
  </ion-item>


</ion-content>
