<ion-header>
  <ion-navbar>
    <ion-title>
      Doctor's Appointment
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    
  <form [formGroup]="patient" (ngSubmit)="onSubmit()" novalidate>
    <ion-item>
      <ion-label>First Name:</ion-label>
      <ion-input type="text" formControlName = "first"></ion-input>
    </ion-item>
    <span *ngIf = "patient.controls.first.touched && patient.controls.first.errors">First name is not valid, minimum name size 3</span>
    <ion-item>
      <ion-label>Last Name:</ion-label>
      <ion-input type="text" name="last" formControlName="last"></ion-input>
    </ion-item>
    <ion-row>
      <ion-col text-center><ion-label>Age</ion-label></ion-col>
      <ion-col><ion-toggle (ionChange)="updateDOB($event)"></ion-toggle></ion-col>
      <ion-col><ion-label>DOB</ion-label></ion-col>
    </ion-row>
    <ion-item *ngIf="age">
      <ion-label>Enter your Age</ion-label>
      <ion-input type="tel" formControlName="date" value="{{ageOfPatient}}"></ion-input>
    </ion-item>
    <span *ngIf = "patient.controls.date.touched && patient.controls.date.errors">Age not valid, should be 18 or more</span>
    <ion-item *ngIf="dob">
      <ion-label>Select the date of birth</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" formControlName="date" max="{{min}}" placeholder="{{min}}" (ionChange)="getDate($event)"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Email:</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <span *ngIf = "patient.controls.email.touched && patient.controls.email.errors">A valid email is required</span>
    <ion-item>
      <ion-label>Password:</ion-label>
      <ion-input type="password" class="password-input" formControlName="password" [type]="passwordType" validateEqual="confirm" reverse="true" clearOnEdit="false"></ion-input>
      <ion-icon item-end [name]="passwordIcon" class = "passwordIcon" (click) = "showHide()"></ion-icon>
    </ion-item>
    <span *ngIf = "patient.controls.password.touched && patient.controls.password.errors">A valid password of length greater than 6 is required</span>
    <ion-item>
      <ion-label>Confirm Password:</ion-label>
      <ion-input type="password"  formControlName="confirm" validateEqual="password"></ion-input>
    </ion-item>
    <span *ngIf = "patient.controls.confirm.touched && patient.controls.confirm.errors && validateEqual">Password does not match</span>
    <ion-item>
        <ion-label text-center>Enter the Phone Number:</ion-label>
        <ion-input type="tel" formControlName="phone"></ion-input>
    </ion-item>
    <!-- <ion-row><ion-label text-center>Enter the Phone Number:</ion-label></ion-row>
    <ion-row>
      <ion-col col-8>
          <ion-select formControlName = "code">
              <ion-option *ngFor = "let nation of country" value = "{{nation.dial_code}}" [selected]="nation.dial_code === '+91'">({{nation.dial_code}}) {{nation.name}}</ion-option>
            </ion-select>
      </ion-col>
      <ion-col col-4>
          <ion-label text-center>Enter the Phone Number:</ion-label>
          <ion-input type="tel" placeholder="Phone" formControlName="phone"></ion-input>
      </ion-col>
    </ion-row> -->
    <span *ngIf = "patient.controls.phone.touched && patient.controls.phone.errors">A valid phone number is required</span>
    <ion-item>
      <ion-label>Registration for</ion-label>
      <ion-select formControlName="registration">
        <ion-option value = "Self">Self</ion-option>
        <ion-option value = "Mother">Mother</ion-option>
        <ion-option value = "Father">father</ion-option>
        <ion-option value = "Wife">Wife</ion-option>
        <ion-option value = "Grandparent">Grandparent</ion-option>
        <ion-option value = "Child">Child</ion-option>
        <ion-option value = "Other">Other</ion-option>
      </ion-select>
    </ion-item>
    <ion-list>
        <ion-item>
            <ion-label>Select the Symptoms</ion-label>
            <ion-select multiple="true" (ionChange)="getChange($event)">
              <ion-option>Allergy</ion-option>
              <ion-option>Cough</ion-option>
              <ion-option>Weakness</ion-option>
              <ion-option>Fever</ion-option>
          </ion-select>
        </ion-item>
    </ion-list>
    <button ion-button type = "submit" [disabled]="!patient.valid" block>Submit</button>
  </form>
</ion-content>
