page-home {
    ion-input.ng-invalid{
        color:red;
    }
    .passwordIcon{
        font-size:2rem !important;
        position: relative !important;
        top: 5px !important;
        margin: 0 auto !important;
     }
     .password-input{
         padding-right: 5px;
     }
     ion-input.validateEqual{
        color:red;
    }
    .confirmError{
        color: #cc0033;
        border-bottom-color : 1px solid #cc0033;
    }
}
